$primary:       #00c1de !default;
$grid-gutter-width:           0px !default;
$border-radius:               0Srem !default;
$navbar-dark-color:                 #00c1de !default;
$dark:          rgb(31, 29, 29) !default;

@import '../node_modules/bootstrap/scss/bootstrap.scss';