$primary:       #00c1de !default;
$grid-gutter-width:           0px !default;
$border-radius:               0Srem !default;
$navbar-dark-color:                 #00c1de !default;
$dark:          rgb(31, 29, 29) !default;
$tooltip-bg:                        #00c1de !default;
$fa-font-path:'node_modules/font-awesome/fonts';
$border-radius-lg:0;


@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/font-awesome/scss/font-awesome.scss';